<div class="row">
	<div class="pull-right">
		<button class="btn btn-default" *ngIf="userService.loggedUser == null" (click)="loginModal.open()"><span translate="menu.login"></span></button>
		<button class="btn btn-default" *ngIf="userService.loggedUser == null" (click)="registerModal.open()"><span translate="menu.createUser"></span></button>
        <button class="btn btn-default" *ngIf="userService.loggedUser != null" (click)="logout()"><span translate="menu.logout"></span></button>
	</div>
</div>

<!-- Modal de registro -->
<modal #registerModal (keyup.enter)="submitRegisterForm()" (onDismiss)="resetRegisterForm()" >
    <modal-header [show-close]="true">
        <h4 class="modal-title"><span translate="menu.login"></span></h4>
    </modal-header>
    <modal-body>
    	<form class="form-horizontal" [formGroup]="registerForm">
            <label class="control-label has-error">
                <span class="help-block" *ngIf="duplicated != null" [translate]="duplicated"></span>
            </label>
    		<div class="form-group" [ngClass]="{'has-error': association.touched && !association.valid}">
				<label class="control-label col-md-5 text-right"><span translate="register.association"></span></label>
				<label class="control-label label-inline col-md-2">Si <input type="radio" value="true" [formControl]="association"></label>
				<label class="control-label label-inline col-md-2">No <input type="radio" value="false" [formControl]="association"></label>
				<div class="row">
					<div class="col-md-7 col-md-offset-4">
						<span class="help-block" *ngIf="association.touched && !association.valid" translate="form.required"></span>
					</div>
				</div>
    		</div>
    		<div class="form-group" [ngClass]="{'has-error': name.touched && !name.valid}">
    			<label class="control-label col-md-4"><span translate="register.name"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="text" [formControl]="name">
    				<span class="help-block" *ngIf="name.touched && !name.valid" translate="form.required"></span>
    			</div>
    		</div>
    		<div class="form-group" *ngIf="association.value=='false'" [ngClass]="{'has-error': surname.touched && !surname.valid}">
    			<label class="control-label col-md-4"><span translate="register.surname"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="text" [formControl]="surname">
    				<span class="help-block" *ngIf="surname.touched && !surname.valid" translate="form.required"></span>
    			</div>
    		</div>
    		<div class="form-group" *ngIf="association.value=='true'" [ngClass]="{'has-error': nif.touched && !nif.valid}">
    			<label class="control-label col-md-4"><span translate="register.id"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="text" [formControl]="nif">
    				<span class="help-block" *ngIf="nif.touched && !nif.valid" translate="form.required"></span>
    			</div>
    		</div>
    		<div class="form-group" [ngClass]="{'has-error': address.touched && !address.valid}">
    			<label class="control-label col-md-4"><span translate="register.address"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="text" [formControl]="address">
    				<span class="help-block" *ngIf="address.touched && !address.valid" translate="form.required"></span>
    			</div>
    		</div>
    		<div class="form-group" [ngClass]="{'has-error': province.touched && !province.valid}">
    			<label class="control-label col-md-4"><span translate="register.province"></span></label>
    			<div class="col-md-8">
    				<select class="form-control" [formControl]="province" placeholder="Selecciona una provincia">
                        <option value="0">{{'register.selectProvince' | translate}}
    					<option *ngFor="let province of provinces" [value]="province.id">{{province.name}}</option>
    				</select>
    				<span class="help-block" *ngIf="province.touched && !province.valid" translate="form.required"></span>
    			</div>
    		</div>
    		<div class="form-group" [ngClass]="{'has-error': username.touched && !username.valid}">
    			<label class="control-label col-md-4"><span translate="register.username"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="text" [formControl]="username">
    				<span class="help-block" *ngIf="username.touched && !username.valid" translate="form.required"></span>
    			</div>
    		</div>
    		<div class="form-group" [ngClass]="{'has-error': registerMail.touched && !registerMail.valid}">
    			<label class="control-label col-md-4"><span translate="login.mail"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="mail" [formControl]="registerMail">
                    <div *ngIf="registerMail.touched && !registerMail.valid">
    				    <span class="help-block" *ngIf="registerMail.hasError('required')" translate="form.required"></span>
                        <span class="help-block" *ngIf="!registerMail.hasError('required') && registerMail.hasError('email')" translate="form.validEmail"></span>
                    </div>
    			</div>
    		</div>
            <div [formGroup]="passwords">
        		<div class="form-group" [ngClass]="{'has-error': registerPass.touched && !registerPass.valid}">
        			<label class="control-label col-md-4"><span translate="login.password"></span></label>
        			<div class="col-md-8">
        				<input class="form-control" type="password" [formControl]="registerPass">
        				<span class="help-block" *ngIf="registerPass.touched && !registerPass.valid" translate="form.required"></span>
        			</div>
        		</div>
        		<div class="form-group" [ngClass]="{'has-error': passRepeat.touched && (!passRepeat.valid || passwords.hasError('matchingPasswords'))}">
        			<label class="control-label col-md-4"><span translate="register.passwordRepeat"></span></label>
        			<div class="col-md-8">
        				<input class="form-control" type="password" [formControl]="passRepeat">
                        <div *ngIf="passRepeat.touched">
                            <span class="help-block" *ngIf="passRepeat.hasError('required')" translate="form.required"></span>
                            <span class="help-block" *ngIf="!passRepeat.hasError('required') && passwords.hasError('matchingPasswords')" translate="form.repeatPassword"></span>
                        </div>
        			</div>
        		</div>
            </div>
    	</form>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
    	<button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetRegisterForm()"><span translate="button.cancel"></span></button>
        <button type="button" class="btn btn-primary" (click)="submitRegisterForm()"><span translate="register.createUser"></span></button>
    </modal-footer>
</modal>

<!-- Modal de inicio de sesión -->
<modal #loginModal (keyup.enter)="submitLoginForm()" (onDismiss)="resetLoginForm()" >
    <modal-header [show-close]="true">
        <h4 class="modal-title"><span translate="menu.login"></span></h4>
    </modal-header>
    <modal-body>
    	<form class="form-horizontal" [formGroup]="loginForm">
            <label class="control-label has-error">
                <span class="help-block" *ngIf="badCredentials != null" translate="error.badCredentials"></span>
            </label>
        	<div class="form-group" [ngClass]="{'has-error': loginMail.touched && !loginMail.valid}">
    			<label class="control-label col-md-3"><span translate="login.mail"></span></label>
    			<div class="col-md-9">
    				<input class="form-control" type="mail" [formControl]="loginMail">
                    <div *ngIf="loginMail.touched && !loginMail.valid">
                        <span class="help-block" *ngIf="loginMail.hasError('required')" translate="form.required"></span>
                        <span class="help-block" *ngIf="!loginMail.hasError('required') && loginMail.hasError('email')" translate="form.validEmail"></span>
                    </div>
    			</div>
    		</div>
    		<div class="form-group" [ngClass]="{'has-error': loginPass.touched && !loginPass.valid}">
    			<label class="control-label col-md-3"><span translate="login.password"></span></label>
    			<div class="col-md-9">
    				<input class="form-control" type="password" [formControl]="loginPass">
                    <span class="help-block" *ngIf="loginPass.touched && !loginPass.valid" translate="form.required"></span>
    			</div>
    		</div>
    	</form>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
    	<button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetLoginForm()">
            <span translate="button.cancel"></span>
        </button>
        <button type="button" class="btn btn-primary" (click)="submitLoginForm()">
            <span translate="menu.login"></span>
        </button>
    </modal-footer>
</modal>

<error-modal></error-modal>