<div class="row">
	<div class="col-md-12 text-center">
		<h1>{{headingTitle | translate}}</h1>
	</div>
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<div class="panel-title">
					<span translate="pet.generalInfo"></span>
					<div class="btn-group pull-right" *ngIf="showAdditionalInfo">
				    	<button class="btn btn-default" (click)="editEnabled = true" [disabled]="editEnabled"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;<span translate="button.edit"></span></button>
				    </div>
				</div>
			</div>
			<div class="panel-body row">
				<div class="col-md-12">
					<form class="form-horizontal" [formGroup]="petForm">
						<div class="row">
			        		<div class="col-md-6 col-sm-12">
			        			<div class="form-group" [ngClass]="{'has-error': name.touched && !name.valid}">
			        				<label class="control-label col-md-4"><span translate="pet.name"></span></label>
					        		<div class="col-md-6">
					        			<input class="form-control" type="text" [formControl]="name" [attr.disabled]="!editEnabled ? '' : null">
				        				<span class="help-block" *ngIf="name.touched && !name.valid" translate="form.required"></span>
					        		</div>
								</div>
					        </div>
					        <div class="col-md-6 col-sm-12">
			        			<div class="form-group" [ngClass]="{'has-error': breed.touched && !breed.valid}">
			        				<label class="control-label col-md-4"><span translate="pet.breed"></span></label>
					        		<div class="col-md-6">
					        			<input class="form-control" type="text" [formControl]="breed" [attr.disabled]="!editEnabled ? '' : null">
					        			<span class="help-block" *ngIf="breed.touched && !breed.valid" translate="form.required"></span>
					        		</div>
								</div>
					        </div>
			        	</div>
						<div class="row">
							<div class="form-group col-md-6 col-sm-12">
								<div [ngClass]="{'has-error': petType.touched && !petType.valid}">
					        		<label class="control-label label-inline col-md-2 col-md-offset-4" ><span translate="pet.dog"></span> <input name="petType" type="radio" value="1" [formControl]="petType" [attr.disabled]="!editEnabled ? '' : null"></label>
					        		<label class="control-label label-inline col-md-2"><span translate="pet.cat"></span> <input name="petType" type="radio" value="2" [formControl]="petType" [attr.disabled]="!editEnabled ? '' : null"></label>
					        		<div class="row">
					        			<div class="col-md-6 col-md-offset-3 text-center">
					        				<span class="help-block" *ngIf="petType.touched && !petType.valid" translate="form.required"></span>
					        			</div>
					        		</div>
					        	</div>
					        </div>
					        <div class="form-group col-md-6 col-sm-12">
					        	<div [ngClass]="{'has-error': gender.touched && !gender.valid}">
					        		<label class="control-label label-inline col-md-2 col-md-offset-4" ><span translate="pet.male"></span> <input name="gender" type="radio" value="m" [formControl]="gender" [attr.disabled]="!editEnabled ? '' : null"></label>
					        		<label class="control-label label-inline col-md-3"><span translate="pet.female"></span> <input name="gender" type="radio" value="f" [formControl]="gender" [attr.disabled]="!editEnabled ? '' : null"></label>
					        		<div class="row">
					        			<div class="col-md-6 col-md-offset-3 text-center">
					        				<span class="help-block" *ngIf="gender.touched && !gender.valid" translate="form.required"></span>
					        			</div>
					        		</div>
					        	</div>
					        </div>
			        	</div>
			        	<div class="row">
					        <div class="col-md-6">
			        			<div class="form-group" [ngClass]="{'has-error': age.touched && !age.valid}">
			        				<label class="control-label col-md-4"><span translate="pet.age"></span></label>
					        		<div class="col-md-6">
					        			<input class="form-control" type="number" step="1" min="0" [formControl]="age" [attr.disabled]="!editEnabled ? '' : null">
					        			<div *ngIf="age.touched">
				                            <span class="help-block" *ngIf="age.hasError('required')" translate="form.required"></span>
				                            <span class="help-block" *ngIf="!age.hasError('required') && age.hasError('integer')" translate="form.integer"></span>
                        				</div>
					        		</div>
								</div>
					        </div>
			        	</div>
			        	<hr>
			        	<div class="row">
					    	<div class="col-md-6 col-sm-12">
					        	<div class="form-group" [ngClass]="{'has-error': forAdoption.touched && !forAdoption.valid}">
					        		<label class="control-label label-inline col-md-6 col-md-offset-2"><span translate="pet.forAdoption"></span>&nbsp;&nbsp;&nbsp;<input type="checkbox" [formControl]="forAdoption" [attr.disabled]="!editEnabled ? '' : null"></label>
								</div>
					        </div>
					        <div class="col-md-6 col-sm-12">
					        	<div class="form-group" [ngClass]="{'has-error': forHost.touched && !forHost.valid}">
					        		<label class="control-label label-inline col-md-6 col-md-offset-2"><span translate="pet.forHost"></span>&nbsp;&nbsp;&nbsp;<input type="checkbox" [formControl]="forHost" [attr.disabled]="!editEnabled ? '' : null"></label>
								</div>
					        </div>
					    </div>
			        	<div class="row">
			        		<div class="col-md-6 col-sm-12">
			        			<div class="form-group" [ngClass]="{'has-error': adopter.touched && !adopter.valid}">
			        				<label class="control-label col-md-4"><span translate="pet.adopter"></span></label>
					        		<div class="col-md-6">
					        			<ng-select [disabled]="!editEnabled" [options]="normalUsers" [multiple]="false" placeholder="{{'pet.notAdopted' | translate}}" formControlName="adopter" [allowClear]="true" notFoundMsg="{{'ngSelect.nothingFound' | translate}}"></ng-select>
					        			<span class="help-block" *ngIf="adopter.touched && !adopter.valid" translate="form.required"></span>
					        		</div>
								</div>
					        </div>
					        <div class="col-md-6 col-sm-12">
			        			<div class="form-group" [ngClass]="{'has-error': host.touched && !host.valid}">
			        				<label class="control-label col-md-4"><span translate="pet.host"></span></label>
					        		<div class="col-md-6">
					        			<ng-select [disabled]="!editEnabled" [options]="normalUsers" [multiple]="false" placeholder="{{'pet.notHosted' | translate}}" formControlName="host" [allowClear]="true" notFoundMsg="{{'ngSelect.nothingFound' | translate}}"></ng-select>
					        			<span class="help-block" *ngIf="host.touched && !host.valid" translate="form.required"></span>
					        		</div>
								</div>
					        </div>
					     </div>
				        <div class="row">
					        <div class="col-md-6 col-sm-12">
					        	<div class="form-group" [ngClass]="{'has-error': locationId.touched && !locationId.valid}">
			        				<label class="control-label col-md-4"><span translate="pet.location"></span></label>
			        				<div class="col-md-6">
					        			<select [attr.disabled]="!editEnabled ? '' : null" class="form-control" [formControl]="locationId" placeholder="Selecciona una provincia">
					                        <option value="0">{{'register.selectProvince' | translate}}</option>
					        				<option *ngFor="let province of provinces" [value]="province.id">{{province.name}}</option>
					        			</select>
					        			<span class="help-block" *ngIf="locationId.touched && !locationId.valid" translate="form.required"></span>
					        		</div>
								</div>
					        </div>
					    </div>
					    <hr>
					    <div class="row">
					    	<div class="col-md-4 col-sm-12">
					        	<div class="form-group" [ngClass]="{'has-error': dogsAffinity.touched && !dogsAffinity.valid}">
					        		<label class="control-label label-inline col-md-6 col-md-offset-2"><span translate="pet.dogsAffinity"></span>&nbsp;&nbsp;&nbsp;<input type="checkbox" [formControl]="dogsAffinity" [attr.disabled]="!editEnabled ? '' : null"></label>
					        		<div class="row">
					        			<div class="col-md-4 col-md-offset-2">
					        				<span class="help-block" *ngIf="dogsAffinity.touched && !dogsAffinity.valid" translate="form.required"></span>
					        			</div>
					        		</div>
								</div>
					        </div>
					        <div class="col-md-4 col-sm-12">
					        	<div class="form-group" [ngClass]="{'has-error': catsAffinity.touched && !catsAffinity.valid}">
					        		<label class="control-label label-inline col-md-6 col-md-offset-2"><span translate="pet.catsAffinity"></span>&nbsp;&nbsp;&nbsp;<input type="checkbox" [formControl]="catsAffinity" [attr.disabled]="!editEnabled ? '' : null"></label>
					        		<div class="row">
					        			<div class="col-md-4 col-md-offset-2">
					        				<span class="help-block" *ngIf="catsAffinity.touched && !catsAffinity.valid" translate="form.required"></span>
					        			</div>
					        		</div>
								</div>
					        </div>
					        <div class="col-md-4 col-sm-12">
					        	<div class="form-group" [ngClass]="{'has-error': kidsAffinity.touched && !kidsAffinity.valid}">
					        		<label class="control-label label-inline col-md-6 col-md-offset-2"><span translate="pet.kidsAffinity"></span>&nbsp;&nbsp;&nbsp;<input type="checkbox" [formControl]="kidsAffinity" [attr.disabled]="!editEnabled ? '' : null"></label>
					        		<div class="row">
					        			<div class="col-md-4 col-md-offset-2">
					        				<span class="help-block" *ngIf="kidsAffinity.touched && !kidsAffinity.valid" translate="form.required"></span>
					        			</div>
					        		</div>
								</div>
					        </div>
					    </div>
					    <hr>
					    <div class="row">
					    	<div class="col-md-12">
					    		<div class="form-group">
					    			<label class="control-label col-md-2"><span translate="pet.description"></span></label>
					    			<div class="col-md-9">
					    				<textarea [attr.disabled]="!editEnabled ? '' : null" class="form-control" rows="6" [formControl]="description"></textarea>
					    			</div>
					    		</div>
					    	</div>
					    </div>
					    <hr>
					    <div class="row" *ngIf="editEnabled">
					    	<div class="col-md-12 text-center">
					    		<button class="btn btn-primary" (click)="savePet()"><span translate="button.save"></span></button>
					    		<button class="btn btn-danger" (click)="resetPetForm()"><span translate="button.cancel"></span></button>
					    	</div>
					    </div>
					</form>
				</div>
			</div>
		</div>



		<div class="row">
			<div class="col-md-6 col-sm-12" *ngIf="showAdditionalInfo">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="panel-title"><span translate="pet.vaccines"></span><button class="pull-right" (click)="openModal(vaccineModal)"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span translate="button.new"></span></button></div>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th><span translate="pet.vaccine"></span></th>
										<th><span translate="pet.description"></span></th>
										<th><span translate="pet.appliedOn"></span></th>
										<th><span translate="grid.actions"></span></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngIf="petVaccines.length == 0"><td colspan="4"><span translate="grid.noData"></span></td></tr>
									<tr *ngFor="let vaccine of petVaccines">
										<td>{{vaccine.name}}</td>
										<td>{{vaccine.description}}</td>
										<td>{{vaccine.appliedOn}}</td>
										<td>
											<a class="actionButton" (click)="editVaccine(vaccine)"><i class="orange glyphicon glyphicon-pencil"></i></a>
											<a class="actionButton" (click)="deleteVaccine(vaccine.id)"><i class="red glyphicon glyphicon-remove"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="row" *ngIf="petVaccines.length != 0">
								<div class="col-md-12">
									<span translate="grid.rows"></span>
									<select [(ngModel)]="vaccinesPagination.rows" (change)="getPetVaccines(true)">
										<option value="5">5</option>
										<option value="10">10</option>
										<option value="20">20</option>
									</select>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<span translate="grid.page"></span>
									<select [(ngModel)]="vaccinesPagination.page" (change)="getPetVaccines(false)">
										<option *ngFor="let page of vaccinesPagination.pages" [value]="page">{{page}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12" *ngIf="showAdditionalInfo">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<div class="panel-title"><span translate="pet.medicalTests"></span><button class="pull-right" (click)="openModal(medicalTestModal)"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span translate="button.new"></span></button></div>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th><span translate="pet.medicalTest"></span></th>
										<th><span translate="pet.description"></span></th>
										<th><span translate="pet.appliedOn"></span></th>
										<th><span translate="grid.actions"></span></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngIf="petMedicalTests.length == 0"><td colspan="4"><span translate="grid.noData"></span></td></tr>
									<tr *ngFor="let medicalTest of petMedicalTests">
										<td>{{medicalTest.name}}</td>
										<td>{{medicalTest.description}}</td>
										<td>{{medicalTest.appliedOn}}</td>
										<td>
											<a class="actionButton" (click)="editMedicalTest(medicalTest)"><i class="orange glyphicon glyphicon-pencil"></i></a>
											<a class="actionButton" (click)="deleteMedicalTest(medicalTest.id)"><i class="red glyphicon glyphicon-remove"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="row" *ngIf="petMedicalTests.length != 0">
								<div class="col-md-12">
									<span translate="grid.rows"></span>
									<select [(ngModel)]="medicalTestsPagination.rows" (change)="getPetMedicalTests(true)">
										<option value="5">5</option>
										<option value="10">10</option>
										<option value="20">20</option>
									</select>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<span translate="grid.page"></span>
									<select [(ngModel)]="medicalTestsPagination.page" (change)="getPetMedicalTests(false)">
										<option *ngFor="let page of medicalTestsPagination.pages" [value]="page">{{page}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-danger" *ngIf="showAdditionalInfo">
			<div class="panel-heading">
				<div class="panel-title"><span translate="pet.vetVisits"></span><button class="pull-right" (click)="openModal(vetVisitModal)"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span translate="button.new"></span></button></div>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><span translate="pet.description"></span></th>
								<th><span translate="pet.visitDate"></span></th>
								<th><span translate="pet.cost"></span></th>
								<th><span translate="grid.actions"></span></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngIf="petVetVisits.length == 0"><td colspan="4"><span translate="grid.noData"></span></td></tr>
							<tr>
								<tr *ngFor="let vetVisit of petVetVisits">
									<td>{{vetVisit.description}}</td>
									<td>{{vetVisit.visitDate}}</td>
									<td>{{vetVisit.cost}} €</td>
									<td>
										<a class="actionButton" (click)="editVetVisit(vetVisit)"><i class="orange glyphicon glyphicon-pencil"></i></a>
										<a class="actionButton" (click)="deleteVetVisit(vetVisit.id)"><i class="red glyphicon glyphicon-remove"></i></a>
									</td>
								</tr>
						</tbody>
					</table>
					<div class="row" *ngIf="petVetVisits.length != 0">
						<div class="col-md-12">
							<span translate="grid.rows"></span>
							<select [(ngModel)]="vetVisitsPagination.rows" (change)="getPetVetVisits(true)">
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="20">20</option>
							</select>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<span translate="grid.page"></span>
							<select [(ngModel)]="vetVisitsPagination.page" (change)="getPetVetVisits(false)">
								<option *ngFor="let page of vetVisitsPagination.pages" [value]="page">{{page}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal de vacunas -->
<modal *ngIf="showAdditionalInfo" #vaccineModal (keyup.enter)="submitVaccineForm()" >
    <modal-header [show-close]="true">
        <h4 class="modal-title"><span translate="pet.newVaccine"></span></h4>
    </modal-header>
    <modal-body>
    	<form class="form-horizontal" [formGroup]="vaccineForm">
        	<div class="form-group" [ngClass]="{'has-error': vaccineName.touched && !vaccineName.valid}">
    			<label class="control-label col-md-4"><span translate="pet.vaccine"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="text" [formControl]="vaccineName">
                    <span class="help-block" *ngIf="vaccineName.touched && vaccineName.hasError('required')" translate="form.required"></span>
    			</div>
    		</div>
    		<div class="form-group">
    			<label class="control-label col-md-4"><span translate="pet.description"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="text" [formControl]="vaccineDescription">
    			</div>
    		</div>
    		<div class="form-group" [ngClass]="{'has-error': vaccineAppliedOn.touched && !vaccineAppliedOn.valid}">
    			<label class="control-label col-md-4"><span translate="pet.appliedOn"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="date" [formControl]="vaccineAppliedOn">
                    <span class="help-block" *ngIf="vaccineAppliedOn.touched && vaccineAppliedOn.hasError('required')" translate="form.required"></span>
    			</div>
    		</div>
    	</form>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
    	<button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetForm(vaccineForm)">
            <span translate="button.cancel"></span>
        </button>
        <button type="button" class="btn btn-primary" (click)="submitVaccineForm()">
            <span translate="button.save"></span>
        </button>
    </modal-footer>
</modal>
<!-- Modal de visitas veterinarias -->
<modal *ngIf="showAdditionalInfo" #vetVisitModal (keyup.enter)="submitVetVisitForm()" >
    <modal-header [show-close]="true">
        <h4 class="modal-title"><span translate="pet.newVetVisit"></span></h4>
    </modal-header>
    <modal-body>
    	<form class="form-horizontal" [formGroup]="vetVisitForm">
        	<div class="form-group" [ngClass]="{'has-error': vetVisitDescription.touched && !vetVisitDescription.valid}">
    			<label class="control-label col-md-4"><span translate="pet.description"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="text" [formControl]="vetVisitDescription">
                    <span class="help-block" *ngIf="vetVisitDescription.touched && vetVisitDescription.hasError('required')" translate="form.required"></span>
    			</div>
    		</div>
    		<div class="form-group" [ngClass]="{'has-error': vetVisitVisitDate.touched && !vetVisitVisitDate.valid}">
    			<label class="control-label col-md-4"><span translate="pet.visitDate"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="date" [formControl]="vetVisitVisitDate">
                    <span class="help-block" *ngIf="vetVisitVisitDate.touched && vetVisitVisitDate.hasError('required')" translate="form.required"></span>
    			</div>
    		</div>
    		<div class="form-group" [ngClass]="{'has-error': vetVisitCost.touched && !vetVisitCost.valid}">
    			<label class="control-label col-md-4"><span translate="pet.cost"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="number" step="0.01" min="0" [formControl]="vetVisitCost">
                	<span class="help-block" *ngIf="vetVisitCost.touched && vetVisitCost.hasError('decimal')" translate="form.decimal"></span>
    			</div>
    		</div>
    	</form>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
    	<button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetForm(vetVisitForm)">
            <span translate="button.cancel"></span>
        </button>
        <button type="button" class="btn btn-primary" (click)="submitVetVisitForm()">
            <span translate="button.save"></span>
        </button>
    </modal-footer>
</modal>
<!-- Modal de pruebas médicas -->
<modal *ngIf="showAdditionalInfo" #medicalTestModal (keyup.enter)="submitMedicalTestForm()">
    <modal-header [show-close]="true">
        <h4 class="modal-title"><span translate="pet.newMedicalTest"></span></h4>
    </modal-header>
    <modal-body>
    	<form class="form-horizontal" [formGroup]="medicalTestForm">
        	<div class="form-group" [ngClass]="{'has-error': medicalTestName.touched && !medicalTestName.valid}">
    			<label class="control-label col-md-4"><span translate="pet.medicalTest"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="text" [formControl]="medicalTestName">
                    <span class="help-block" *ngIf="medicalTestName.touched && medicalTestName.hasError('required')" translate="form.required"></span>
    			</div>
    		</div>
    		<div class="form-group">
    			<label class="control-label col-md-4"><span translate="pet.description"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="text" [formControl]="medicalTestDescription">
    			</div>
    		</div>
    		<div class="form-group" [ngClass]="{'has-error': medicalTestAppliedOn.touched && !medicalTestAppliedOn.valid}">
    			<label class="control-label col-md-4"><span translate="pet.appliedOn"></span></label>
    			<div class="col-md-8">
    				<input class="form-control" type="date" [formControl]="medicalTestAppliedOn">
                    <span class="help-block" *ngIf="medicalTestAppliedOn.touched && medicalTestAppliedOn.hasError('required')" translate="form.required"></span>
    			</div>
    		</div>
    	</form>
    </modal-body>
    <modal-footer [show-default-buttons]="false">
    	<button type="button" class="btn btn-default" data-dismiss="modal" (click)="resetForm(medicalTestForm)">
            <span translate="button.cancel"></span>
        </button>
        <button type="button" class="btn btn-primary" (click)="submitMedicalTestForm()">
            <span translate="button.save"></span>
        </button>
    </modal-footer>
</modal>
<error-modal></error-modal>