html, body, h1.title {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	background-color: #C1BDB9;
}

/* Tamaño de los H1 reducido, normal para pantallas grandes */
h1 {
	font-size: 1.7em;
}

@media(min-width:767px) {
	h1 {
		font-size: 2em;
	}
}

/* Padding de los paneles */
.panel-body {
	padding: 5px;
}

/* HEADER */
header {
	background: #FA8C19; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #FA8C19, #FFC61F); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #FA8C19, #FFC61F); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #FA8C19, #FFC61F); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #FA8C19, #FFC61F); /* Standard syntax */
	color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 5px 20px;
	height: 10%;
}

/* Header para pantallas grandes (con margen) */
@media(min-width:767px) {
	header {
		margin: 2% 5% 0 5%;
	}
}
@media(max-width:766px) {
	.container-fluid {
		padding: 0;
	}
}

/* MENU */
menu {
	background-color: #FA8C19;
	padding: 5px 20px;
	margin: 0;
	height: 5%;
}

/* Menu para pantallas grandes (con margen) */
@media(min-width:767px) {
	menu {
		margin: 0 5% 0 5%;
	}
}

/* Logo general */
div > img.logo {
	margin: 0 auto;
}
img.logo {	
	max-height: 60px;
}
/* Logo para pantallas grandes */
@media(min-width:767px) {
	img.logo {
		max-height: 100px;
	}
}

/* CONTENT */
section {
	border: solid 10px #FA8C19;
	background-color: #F2F2F2;
	color: black;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 5px 20px;
	margin: 0;
	min-height: 55%;
}

/* Content para pantallas grandes (con margen) */
@media(min-width:767px) {
	section {
		margin: 0 5% 2% 5%;
	}
}

/* FOOTER */
footer {
	border-radius: 15px;
	background-color: #8AE65E;
	color: white;
	text-align: center;
	padding: 5px 20px;
	margin: 2% 5% 0 5%;
}